<section class="landing__about flex flex-column justify-content-center" id="about">
  <h1>Rodrigo Rolim Veras | frontend pleno</h1>
  <p class="landing__description">
    Sou desenvolvedor frontend pleno e já estou 5 anos atuando no mercado de trabalho.
    Sou formado em engenharia de software e desejo empreender na área ou atuar em uma
    grande companhia de software
  </p>
</section>