<header class="landing__header flex container justify-content-between ">
  <div class="landing__logo">
    <h1>Dev Pl</h1>
  </div>
  <nav class="landing__nav">
    <ul class="flex">
      <li><a href="#init">Início</a></li>
      <li><a href="#about">Sobre mim</a></li>
      <li><a href="#projects">Meus projetos</a></li>
      <li><a href="#degree">Formação</a></li>
      <li><a href="#experience">Minhas experiências</a></li>
    </ul>
  </nav>
</header>